<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>'s Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Heater Switch</h1>           
		<%if (on) {%>
		<a href="/switch/1/off">
		<img src="/images/on.jpg" width="150" height="150"/>
		</a>
		<%}else{%>
		<a href="/switch/1/on">
		<img src="/images/off.jpg" width="150" height="150"/>
		</a>
		<%}%>
  </body>
</html>