<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>'s Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Switches</h1>
    <ul>
      <li>	            
		
		<a href="/switch/1/on">
			Switch 1 on
		<img src="/images/on.jpg" width="150" height="150"/>
		</a>
		<a href="/switch/1/off">
			Switch 1 off
		<img src="/images/off.jpg" width="150" height="150"/>
		</a>
      </li>
	</ul>
  </body>
</html>